<%- contentFor('body') %>
      <p class="nome_modulo">Contas - Apagar</p>
      <form action="" method="POST">
        <table>
          <tr>
            <td class="form_label">ID:</td>
            <td><input class="form_dado_leitura" type="text" size="3" value="<%= deposito.id %>" readonly /></td>
          </tr>
          <tr>
            <td class="form_label">Data:</td>
            <td><input class="form_dado_leitura" type="date" value="<%= deposito.data_ref_fmt %>" readonly /></td>
          </tr>
          <tr>
            <td class="form_label">Pessoa:</td>
            <td>
              <select class="form_dado_leitura"><option><%= deposito.pessoa_fmt %></option></select>
            </td>
          </tr>
          <tr>
            <td class="form_label">Aplicação:</td>
            <td>
              <select class="form_dado_leitura"><option><%= deposito.apl_fmt %></option></select>
            </td>
            <td>
              <select class="form_dado_leitura" style="display:<%= deposito.poup ? 'inline' : 'none' %>">
                  <option><%= deposito.aplicacao.dia_ref %></option>
              </select>
            </td>
            <td class="form_label">Saldo na data:</td>
            <td><input class="form_dado_numero form_dado_leitura" type="text" size="11" maxlength="10" value="<%= deposito.saldo_fmt %>" readonly /></td>
          </tr
          <tr>
            <td class="form_label">Valor:</td>
            <td><input name="entrada" class="form_dado_numero form_dado_leitura" type="text" size="11" maxlength="10" value="<%= deposito.entrada_fmt %>" readonly /></td>
            <td></td>
            <td class="form_label">Saldo final:</td>
            <td><input class="form_dado_numero form_dado_leitura" type="text" size="11" maxlength="10" value="<%= deposito.saldo_depois_fmt %>" readonly /></td>
          </tr>
        </table>
        <p>Tem certeza que deseja excluir o registro?</p>
        <table>
          <tr>
            <td><a href="../editar/<%= deposito.id %>"><button type="button">Voltar</button></a></td>
            <td><input value="Confirmar" type="submit" /></td>
          </tr>
        </table>
      </form>
