<%- contentFor('body') %>
      <p class="nome_modulo">Lançamentos - Listar</p>
      <table class="filtro_tabela">
        <tr>
          <td class="fitro_titulo" colspan="2">Filtros</td>
        </tr>
        <tr>
          <td>Pessoa</td>
          <td>
            <select onchange="window.location = '/lancamentos/listar/' + this.value + '/todos/todos/<%= n_paginas.atual %>'">
              <option value="todos" <%= filtro_pessoas_sel == 'todos' ? 'selected' : '' %>>Todos</option>
              <% for (var i = 0; i < filtro_pessoas.length; i++) { %>
              <option value="<%= filtro_pessoas[i].id %>"
                      <%= filtro_pessoas[i].id == filtro_pessoas_sel ? 'selected' : '' %>>
                <%= filtro_pessoas[i].nome + ' (' + filtro_pessoas[i].apelido + ')' %>
              </option>
              <% } %>
            </select>
          </td>
        </tr>
        <tr>
          <td>Conta</td>
          <td>
            <select onchange="window.location = '/lancamentos/listar/<%= filtro_pessoas_sel %>/' + this.value + '/todos/<%= n_paginas.atual %>'">
              <option value="todos">Todos</option>
              <% for (var i = 0; i < filtro_contas.length; i++) { %>
              <option value="<%= filtro_contas[i].id %>"
                      <%= filtro_contas[i].id == filtro_contas_sel ? 'selected' : '' %>>
                <%= filtro_contas[i].desc_fmt %>
              </option>
              <% } %>
            </select>
          </td>
        </tr>
        <tr>
          <td>Aplicações</td>
          <td>
            <select onchange="window.location = '/lancamentos/listar/<%= filtro_pessoas_sel %>/<%= filtro_contas_sel %>/' + this.value + '/<%= n_paginas.atual %>'">
              <% for (var i = 0; i < filtro_aplicacoes.length; i++) { %>
              <option value="<%= filtro_aplicacoes[i].id %>"
                      <%= filtro_aplicacoes[i].id == filtro_aplicacoes_sel ? 'selected' : '' %>>
                <%= filtro_aplicacoes[i].nome_fmt %>
              </option>
              <% } %>
            </select>
          </td>
        </tr>
      </table>
      <br />
      <table>
        <tr class="listar_linha_cabecalho">
          <td class="listar_cabecalho_selec"></td>
          <td class="listar_cel">Aplicação</td>
          <td class="listar_cel">Data</td>
          <td class="listar_cel">Tipo</td>
          <td class="listar_cel">Crédito</td>
          <td class="listar_cel">Débito</td>
          <td class="listar_cel">Saldo</td>
        </tr>
        <% for (var i = 0; i < lancamentos.length; i++) { %>
        <tr class="listar_linha" onclick="window.location = '/lancamentos/editar/<%= lancamentos[i].id %>'"
            onmouseenter="this.children[0].style.color = 'black'" onmouseleave="this.children[0].style.color = 'transparent'">
          <td class="listar_cel_seta">&gt;</td>
          <td class="listar_cel"><%= lancamentos[i].aplicacao_fmt %></td>
          <td class="listar_cel"><%= lancamentos[i].data_fmt %></td>
          <td class="listar_cel"><%= lancamentos[i].tipo_fmt %></td>
          <td class="listar_cel_num"><%= lancamentos[i].entrada_fmt %></td>
          <td class="listar_cel_num"><%= lancamentos[i].saida_fmt %></td>
          <td class="listar_cel_num"><%= lancamentos[i].saldo_fmt %></td>
        </tr>
        <% } %>
        <tr class="listar_linha_rodape">
          <td colspan="7">Página <%= n_paginas.atual %>/<%= n_paginas.num %> - Mostrando <%= n_paginas.por_pagina %> de <%= n_paginas.total %> registros.</td>
        </tr>
      </table>
      <br/>
      <table>
        <tr>
          <td>Ir para a página:</td>
          <td>
            <select onchange="window.location = '/lancamentos/listar/<%= filtro_pessoas_sel %>/<%= filtro_contas_sel %>/<%= filtro_aplicacoes_sel %>/' + this.value">
              <% for (var i = 1; i <= n_paginas.num; i++) { %>
                <option value="<%= i %>" <%= (i == n_paginas.atual) ? 'selected' : '' %>><%= i %></option>
              <% } %>
            </select>
          </td>
        </tr>
      </table>
      <br/>
      <a href="/"><button>Voltar</button></a>
      <a href="/lancamentos/cadastrar"><button>Cadastrar</button></a>
