<%- contentFor('body') %>

  <%
      var cadastro = false
      if(typeof operacoes === 'undefined'){
        cadastro = true
      }
  %>

<head>
  <script type="text/javascript" src="/js/operacao.js"></script>
</head>

<body id="body">
    <p class="h2"><%= cadastro ? 'Operações - Cadastro' : 'Operações - Edição' %></p>
    <br/>
    <div class="row">
      <form action="" method="POST">

          
          <div class="row" style="width: 100%;">
              <% if(!cadastro){ %>
              <div class="col-md-3 mb-3">
                <label for="id">ID:</label>
                <input name="id" id="id" class="form-control" type="text" maxlength="3" value="<%= operacoes.id %>" readonly />
              </div>
              <% } %>

              <div class="col-md-9 mb-3">
                <label for="tipo">Tipo:</label>
                <input name="tipo" class="form-control" type="text" maxlength="255" value="<%= typeof operacoes === 'undefined' ? '' : operacoes.tipo %>" />
              </div>
           </div>
          

          <div class="row" style="width:100%;">
            <div class="col-md-12 mb-3">
              <label for="natureza">Natureza:</label>
                <select name="natureza" class="form-control">
                  <option value="1" <%= !cadastro && operacoes.natureza == 1 ? 'selected' : '' %>>Crédito</option>
                  <option value="2" <%= !cadastro && operacoes.natureza == 2 ? 'selected' : '' %>>Débito</option>
                  <option value="3" <%= !cadastro && operacoes.natureza == 3 ? 'selected' : '' %>>Ambos</option>
                </select>
            </div>
          </div>
        
        <br />
    
      <div class="row" style="width:90%;">
        <div class="col-md-2 mb-3">
          <button type="button" class="btn btn-secondary btn-block voltar">Voltar</button>
        </div>
        <% if(!cadastro){ %>
        
        <div class="col-md-2 mb-3" style="padding-left: 5px;">
          <!-- Botão para acionar modal -->
          <button type="button" id="apagar"  class="btn btn btn-danger btn-block" data-toggle="modal" data-target="#modalApagar">Apagar</button></a>
        </div>
        <% } %>
        <div class="col-md-2 mb-3" style="padding-left: 5px;">
          <input value="Gravar" class="btn btn-primary btn-block" type="submit" />
        </div>
      </div>
  </form>


  <!-- Modal apagar operação -->
<div class="modal fade" id="modalApagar" tabindex="-1" role="dialog" aria-labelledby="apagarModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body alert alert-danger" role="alert">
        <h6>Você tem certeza que deseja apagar esta operação?</h6>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" id="apagarSim">Sim</button>
      </div>
    </div>
  </div>
</div>


</body>
